/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(1, 99, 129);
    background: url(bg.png);
}

/* css for navigation */
.nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
}

.nav-logo p img {
    color: white;
    border: none;
}

.nav-menu ul {
    display: flex;
}

.nav ul li {
    list-style-type: none;
}

.nav ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #ffffff;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

#registerBtn {
    margin-left: 15px;
}

.btn .white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
    display: none;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 512px;
    height: 600px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    overflow: hidden;
    z-index: 2;

}

.login-container {
    position: absolute;
    margin-top: 100px;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;

}

.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span {
    color: #ffffff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;

}

.top span a {
    font-weight: 500;
    color: #2e75d1;
    margin-left: 5px;

}

header {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}

#navbar {
    position: fixed;
    margin-bottom: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    z-index: 100;
}

.line {
    padding: 5px;
}

.hack {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}
h1{
    text-align: center;
    display: flex;
    color: #ffffff;
}

.container {
    position: relative;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(77, 210, 250, 0.1);
}

.block {
    border: 5px;
    border: solid rgb(156, 240, 255);
    padding: 5px;
    border-radius: 15px;
    width: 100%;
}

.row {
    display: flex;
    column-gap: 2%;
    padding-bottom: 25px;
}

.data {
    color: #ffffff;
    font-size: small;
}

.h4 {
    font-size: medium;
    font-weight: 500;
    font-style: italic;
    color: #efa1a1;
}

.btn {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    transition: 200ms;
    box-sizing: border-box;
    border: 2px;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
    outline: 5px;
    background: #11afdf;
}

.container header {
    font-size: 1.5rem;
    color: #7ed0ff;
    font-weight: 500;
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 500px) {
    .row {
        column-gap: 5%;
    }

    .block {
        width: 100%;
    }
}