/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(1, 99, 129);
    background: url(bg.png);
}

.line {
    padding: 5px;
}

.hack {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.container {
    position: relative;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(77, 210, 250, 0.1);
}

.block {
    border: 5px;
    border: solid rgb(156, 240, 255);
    padding: 5px;
    border-radius: 15px;
    width: 100%;
}

.row {
    display: flex;
    column-gap: 2%;
    padding-bottom: 25px;
}

.data {
    color: #ffffff;
    font-size: small;
}

.h4 {
    font-size: medium;
    font-weight: 500;
    font-style: italic;
    color: #efa1a1;
}

.btn {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    transition: 200ms;
    box-sizing: border-box;
    border: 2px;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
    outline: 5px;
    background: #11afdf;
}

.container header {
    font-size: 1.5rem;
    color: #7ed0ff;
    font-weight: 500;
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 500px) {
    .row {
        column-gap: 5%;
    }

    .block {
        width: 100%;
    }
}